.popup__item-error {
  margin: 0;
  padding: 0;
  
  color: red;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.21;

  margin-top: -25px;
  margin-bottom: 13px;

  display: none;
  position: absolute;

  top: 57px;
}

.popup__item-error:last-of-type {
  top: 115px;
}