.popup__content {
  width: 85%;
  min-width: 282px;
  max-width: 430px;

  background-color: white;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  z-index: 2;
}

@media screen and (max-width: 320px) {
  .popup__content {
    max-width: 282px;
  }
}