.popup__submit-button {
  margin: 0;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  /*Задал указанный вами отступ, но в макете у меня другие цифры: 48рх на десктопе и 45рх на мобильном разрешениию
  При необходимости смогу показать скриншоты*/
  margin-top: 43px;

  border: none;
  border-radius: 2px;

  box-sizing: border-box;

  width: 100%;

  background-color: black;

  color: white;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.21;

  cursor: pointer;
  transition: opacity 0.3s ease-in-out 0s;
}

.popup__submit-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 400px) {
  .popup__submit-button {
    font-size: 14px;
    text-align: center;
  }
}