.popup__submit-button {
  margin: 0;
  padding: 0;
  margin-top: 18px;

  border: none;
  border-radius: 2px;

  width: 100%;
  min-height: 46px;
  max-height: 50px;

  background-color: black;

  color: white;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.21;

  cursor: pointer;
  transition: opacity 0.3s ease-in-out 0s;
}

.popup__submit-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 400px) {
  .popup__submit-button {
    font-size: 14px;
    text-align: center;
    min-height: 46px;
  }
}