.popup__close-button {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;

  width: 32px;
  height: 32px;

  border: none;

  background-image: url(../../../images/close-icon.svg);

  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;

  align-self: flex-end;

  cursor: pointer;
  z-index: 3;

  position: absolute;
  bottom: 340px;
  left: 440px;
}


.popup__close-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 540px) {
  .popup__close-button {
    left: calc(100% - 31px);
    bottom: 338px;
  }
}

@media screen and (max-width: 401px) {
  .popup__close-button {
    width: 20px;
    height: 20px;

    background-image: url(../../../images/close-icon_small.svg);
    background-color: transparent;

    left: calc(100% - 20px);
    bottom: 339px;
  }
}