.element__like-button {
  margin: 0;
  padding: 0;
  
  width: 23px;
  height: 20px;
 
  background-image: url(../../../images/like-icon-disabled.svg);
  
  background-position: center;
  background-color: white;
  background-repeat: no-repeat;
  
  cursor: pointer;
  border: none;
}

.element__like-button:hover {
  opacity: 0.5;
}

.element__like-button:focus {
  background-image: url(../../../images/like-icon-enabled.svg);
}