.element__delete-button {
  margin: 0;
  padding: 0;
  
  background-image: url(../../../images/delete-button.svg);
  
  width: 18px;
  height: 19px;

  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  
  border: none;
  cursor: pointer;
  
  position: absolute;
  z-index: 0;
  top: 20px;
  right: 20px;

  display: none;
}

.element__delete-button:hover {
  opacity: 0.6;
}